html body {
    background-color: #FBB6B4BD;
    font-family: 'Roboto', sans-serif;

}

    .img-thumbnail {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        margin-top: 30px;
        background-color: #FBB6B4BD;
    
    }

    hr{
        height: 20px;
        color: black;
    }

 .logo {
     width: 80px;
     height: 80px;
     position: relative; 
     bottom:35px;  
     right: 45px;
     margin:0!important;
}

/* h1 {
    margin-bottom: 70px;
} */

